.heroes {
  display: flex;
  flex-flow: column;
}

.heroes__hero {
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid gray;
  box-shadow: 1px 1px 2px black;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
}

.hero__head,
.hero__foot{
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.hero__foot {
  background-color: var(--clr-primary);
  justify-content: center;
}

.hero__foot .hero__profile {
  color: var(--clr-secondary);
  text-decoration: none;
  font-weight: 900;
}

.hero__head > * {
  margin: 0;
}

.hero__username {
  font-style: italic;
}

.hero__username::before {
  content: "@";
}

.hero__body {
  padding: 1em;
}

.hero__skills .skills__heading {
  margin: 0;
}

.heroes__hero + .heroes__hero {
  margin-top: 1em;
}
